.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    border: 1px black solid;
    border-radius: 15px;
}